<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="order by dede58.com/" />
<title>租房</title>
<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
<link type="text/css" href="{% static 'css/css.css' %}" rel="stylesheet" />
<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'js/js.js' %}"></script>
<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{% static 'js/sweetalert-dev.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/sweetalert.css' %}">
<script>
   // 搜索建议
    $(function(){
        $('.input-search').bind('input propertychange',function(){
            var searchText = $(this).val();
            var tmpHtml = ""
            $.ajax({
                cache: false,
                type: 'GET',
                dataType:'json',
                url: "/house/suggest/?s=" + searchText,
                async: true,
                success: function(data) {
                    for (var i = 0; i < data.length; i++){
                        tmpHtml += '<li><a href="/house/house_search/?q='+data[i]+'">'+data[i]+'</a></li>'
                    }
                    $(".dataList").html("")
                    $(".dataList").append(tmpHtml);
                    if (data.length == 0){
                        $('.dataList').hide()
                    } else {
                        $('.dataList').show()
                    }
                }
            });
        });
    });
    hideElement($('.dataList'), $('.searchInput'));

	// 房源搜索
	function searchHouse() {
		var q = $('#q').val();
		location.href = '/house/house_search/?q=' + q;
	}
	
	function searchHouse1() {
		var q = $('#q').val();
		$.ajax({
            url: '/house/house_search/?q=' + q,
            type: 'GET',
            data: {'q': q},
            success: function(res) {
               var info = $.parseJSON(res);
               if (info.status) {
                   alert('成功');
               } else {
                   alert(info.error);
               }
               location.href = '/house/pro.html';
            }
        });
	}
</script>
</head>
<body>
 <div class="list-nav">
  <div class="width1190">
   <ul class="nav">
    <li><a href="/index.html">首页</a></li>
    <li><a href="/house/house_search/">租房</a></li>
    <li><a href="/visualization/index.html">分析</a></li>
    {% if is_login %}
	<li class="dropdown" style="float:right">
		<a href="#" class="dropdown-toggle" style="background-color:#2d2d2d;border-color:white;" data-toggle="dropdown">{{ username }} </a>
		<ul class="dropdown-menu" style="top: 96%;min-width: 140px;">
			<li style="height:65%"><a style="height:75%" href="/house/user.html">个人中心</a></li>
			<li style="height:65%"><a style="height:75%" href="/house/logout/">退出登录</a></li>
		</ul>
	</li>
    {% else %}
    <li style="float:right"><a href="/house/login.html">登录</a></li>
    <li style="float:right"><a href="/house/reg.html">注册</a></li>
    {% endif %}
    <div class="clears"></div>
   </ul><!--nav/-->
   <div class="clears"></div>
  </div><!--width1190/-->
 </div><!--list-nav/-->
 <div class="banner" style="background:url({% static 'images/ban.jpg' %}) center center no-repeat;"></div>
 <div class="input-area">
   <input type="text" id="q" class="input-search" placeholder="请输入区域、商圈、小区名开始找房…" />
   <input type="button" class="btn-search" onclick="searchHouse()" />
   <ul class="dataList">
   </ul>
 </div>
 <div class="content">
  <div class="width1190">
   <h2 class="title">热门房源 <a href="/house/pro_ranking.html">更多&gt;&gt;</a></h2>
   <div class="index-fang-list">
    <dl>
    <dt><a href="/house/proinfo.html"><img src="{% static 'images/fang1.jpg' %}" width="286" height="188" /></a></dt>
     <dd>
      <h3><a href="/house/proinfo.html"></a>虹桥乐亭</h3>
      <div class="hui">3室2厅2卫 | 147m² | 精装修</div>
     </dd>
    </dl>
    <dl>
    <dt><a href="/house/proinfo.html"><img src="{% static 'images/fang2.jpg' %}" width="286" height="188" /></a></dt>
     <dd>
      <h3><a href="/house/proinfo.html"></a>静安豪景</h3>
      <div class="hui">3室2厅2卫 | 147m² | 精装修</div>
     </dd>
    </dl>
    <dl>
    <dt><a href="/house/proinfo.html"><img src="{% static 'images/fang3.jpg' %}" width="286" height="188" /></a></dt>
     <dd>
      <h3><a href="/house/proinfo.html"></a>中凯城市之光(静安)</h3>
      <div class="hui">3室2厅2卫 | 147m² | 精装修</div>
     </dd>
    </dl>
    <dl>
    <dt><a href="/house/proinfo.html"><img src="{% static 'images/fang4.jpg' %}" width="286" height="188" /></a></dt>
     <dd>
      <h3><a href="/house/proinfo.html"></a>水塘小区</h3>
      <div class="hui">3室2厅2卫 | 147m² | 精装修</div>
     </dd>
    </dl>
	
    <div class="clears"></div>
   </div><!--index-fang-list/-->
   
   <h2 class="title">最新房源 <a href="/house/pro_new.html">更多&gt;&gt;</a></h2>
   <div class="index-fang-list">
    <dl>
    <dt><a href="/house/proinfo.html"><img src="{% static 'images/fang5.jpg' %}" width="286" height="188" /></a></dt>
     <dd>
      <h3><a href="/house/proinfo.html"></a>虹桥乐亭</h3>
      <div class="hui">3室2厅2卫 | 147m² | 精装修</div>
     </dd>
    </dl>
    <dl>
    <dt><a href="/house/proinfo.html"><img src="{% static 'images/fang6.jpg' %}" width="286" height="188" /></a></dt>
     <dd>
      <h3><a href="/house/proinfo.html"></a>静安豪景</h3>
      <div class="hui">3室2厅2卫 | 147m² | 精装修</div>
     </dd>
    </dl>
    <dl>
    <dt><a href="/house/proinfo.html"><img src="{% static 'images/fang7.jpg' %}" width="286" height="188" /></a></dt>
     <dd>
      <h3><a href="/house/proinfo.html"></a>中凯城市之光(静安)</h3>
      <div class="hui">3室2厅2卫 | 147m² | 精装修</div>
     </dd>
    </dl>
    <dl>
    <dt><a href="/house/proinfo.html"><img src="{% static 'images/fang8.jpg' %}" width="286" height="188" /></a></dt>
     <dd>
      <h3><a href="/house/proinfo.html"></a>水塘小区</h3>
      <div class="hui">3室2厅2卫 | 147m² | 精装修</div>
     </dd>
    </dl>
    <div class="clears"></div>
   </div><!--index-fang-list/-->
   
    <div class="clears"></div>
   </div><!--index-ershou/-->
  </div><!--width1190/-->
 </div><!--content/-->
 <div class="note">
  <div class="width1190">
      <dl style="background:url({% static 'images/icon1.jpg' %}) left center no-repeat;">
    <dt>承诺</dt>
    <dd>真实可信 房源数据<br/>来源于各大租房平台</dd>
   </dl>
   <dl style="background:url({% static 'images/icon2.jpg' %}) left center no-repeat;">
    <dt>权威</dt>
    <dd>独家房源 覆盖全城<br/>房源信息最权威覆盖广</dd>
   </dl>
   <dl style="background:url({% static 'images/icon3.jpg' %}) left center no-repeat;">
    <dt>信赖</dt>
    <dd>万名置业顾问 专业服务<br/>百万家庭的信赖之选</dd>
   </dl>
   <dl style="background:url({% static 'images/icon4.jpg' %}) left center no-repeat;">
    <dt>安全</dt>
    <dd>安心承诺 保驾护航<br/>多重风险防范机制 无后顾之忧</dd>
   </dl>
   <div class="clears"></div>
  </div><!--width1190/-->
 </div><!--xinren/-->

 <div class="copy">Copyright@ 2019 租房 版权所有 陕ICP备17001826号-1&nbsp;&nbsp;&nbsp;&nbsp;技术支持：<a target="_blank" href="http://www.xiyoulinuxer.cn/">hepan</a> </div>

</body>
</html>
