<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="order by dede58.com/" /><title>租房</title>
<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
<link type="text/css" href="{% static 'css/css.css' %}" rel="stylesheet" />
<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'js/js.js' %}"></script>
<script type="text/javascript">
 $(function(){
	 //导航定位
	 $(".nav li:eq(6)").addClass("navCur");
	 })
</script>
</head>

<body> 
 <div class="list-nav">
  <div class="width1190">
    <ul class="nav">
    <li><a href="/index.html">首页</a></li>
    <li><a href="/house/pro.html">租房</a></li>
    <li><a href="#">分析</a></li>
    <li style="float:right"><a href="/house/login.html">登录</a></li>
    <li style="float:right"><a href="/house/reg.html">注册</a></li>
    <div class="clears"></div>
    </ul><!--nav/-->
    <div class="clears"></div>
  </div><!--width1190/-->
 </div><!--list-nav/-->
 <div class="banner" style="background:url({% static 'images/ban.jpg' %}) center center no-repeat;"></div>
 
 <div class="content">
  <div class="width1190">
   <div class="reg-logo">
   <form id="signupForm" method="post" action="/house/user.html" class="zcform">{% csrf_token %}
        <p class="clearfix">
        	<label class="one" for="agent">用户名：</label>
        	<input id="agent" name="agent" type="text" class="required" value placeholder="请输入您的用户名" />
        </p>
        <p class="clearfix">
         	<label class="one"  for="password">登录密码：</label>
        	<input id="password" name="password" type="password" class="{required:true,rangelength:[8,20],}" value placeholder="请输入密码" />
        </p>
        <!--<p class="clearfix agreement">
        	<input type="checkbox" />
            <b class="left">已阅读并同意<a href="#">《用户协议》</a></b>
        </p>-->
       	<p class="clearfix"><input class="submit" type="submit" value="立即登录"/></p>
    </form>
    <div class="reg-logo-right">
     <h3>如果您没有账号，请</h3>
     <a href="/house/reg.html" class="logo-a">立即注册</a>
    </div><!--reg-logo-right/-->
    <div class="clears"></div>
  </div><!--reg-logo/-->
  </div><!--width1190/-->
 </div><!--content/-->
 <div class="copy">Copyright@ 2019 租房 版权所有 沪ICP备1234567号-0&nbsp;&nbsp;&nbsp;&nbsp;技术支持：<a target="_blank" href="http://www.webqin.net/">秦王网络</a> </div>
</body>
</html>
