<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load static %}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="order by dede58.com/" /><title>租房</title>
<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
<link type="text/css" href="{% static 'css/css.css' %}" rel="stylesheet" />
<link href="https://res.5i5j.com/pc/common/basic.css?0532cb766fdb20ba318428e92a6e1718" rel="stylesheet">
<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'js/js.js' %}"></script>
<script type="text/javascript" src="{% static 'js/pageMe.js' %}"></script>
<script type="text/javascript">
 $(function(){
	 //导航定位
	 $(".nav li:eq(3)").addClass("navCur");
 });
</script>
    <style>
        /* 外面盒子样式---自己定义 */
        .page_div{margin:20px 10px 20px 0;text-align:center;color:#666}
        /* 页数按钮样式 */
        .page_div button{display:inline-block;min-width:30px;height:28px;cursor:pointer;color:#666;font-size:13px;line-height:28px;background-color:#f9f9f9;border:1px solid #dce0e0;text-align:center;margin:0 4px;-webkit-appearance: none;-moz-appearance: none;appearance: none;}
        #firstPage,#lastPage,#nextPage,#prePage{width:50px;color:#0073A9;border:1px solid #0073A9}
        #nextPage,#prePage{width:70px}
        .page_div .current{background-color:#0073A9;border-color:#0073A9;color:#FFF}
        /* 页面数量 */
        .totalPages{margin:0 10px}
        .totalPages span,.totalSize span{color:#0073A9;margin:0 5px}
        /*button禁用*/
        .page_div button:disabled{opacity:.5;cursor:no-drop}
    </style>
</head>

<body> 
 <div class="list-nav">
  <div class="width1190">
       <ul class="nav">
    <li><a href="/index.html">首页</a></li>
    <li><a href="/house/house_search/">租房</a></li>
    <li><a href="/visualization/index.html">分析</a></li>
    <!--<div class="top-city"><i class="icon-city"></i>北京</div>-->
        {% if is_login %}
	<li class="dropdown" style="float:right">
		<a href="#" class="dropdown-toggle" style="background-color:#2d2d2d;border-color:white;" data-toggle="dropdown">{{ username }} </a>
		<!--
		<ul class="dropdown-menu" style="top: 96%;min-width: 140px;">
			<li style="height:65%"><a style="height:75%" href="/house/user.html">个人中心</a></li>
			<li style="height:65%"><a style="height:75%" href="/house/logout/">退出登录</a></li>
		</ul>
		-->
	</li>
    {% else %}
    <li style="float:right"><a href="/house/login.html">登录</a></li>
    <li style="float:right"><a href="/house/reg.html">注册</a></li>
    {% endif %}
    <div class="clears"></div>
   </ul><!--nav/-->
   <div class="clears"></div>
  </div><!--width1190/-->
 </div><!--list-nav/-->
 
 <div class="main clear">
		<div class="cur-path">
            <!--breadcrumb-->
        <a href="/">租房</a>
                    <span>&gt;</span><a>北京租房</a>
            		</div>
				<div class="search-box add-width">
			<div class="search-inp">
                  <input id="zufang" type="text" class="inp" placeholder="区域、商圈、小区、地铁应有尽有" value="{{ key_words }}" autocomplete="off" maxlength="50">
				<button class="btn-search"><i class="icon-search"></i></button>
			</div>
			<div class="search-menu hide" id="rentSearch"><p class="search-hot">搜索历史</p><ul class="history_w"><li><a href="/zufang/_%E5%8D%8E%E8%B4%B8?zn=%E5%8D%8E%E8%B4%B8" target="_blank">华贸</a></li></ul><p class="search-del">清除历史记录</p></div>
		</div>
	</div>
	
 <div class="content">
  <div class="width1190">
   <form action="#" method="get" class="pro-search">
    <table>
     <tr>
      <th>房源区域：</th>
      <td>
       <a href="javascript:;" class="pro-cur">不限</a>
       <a href="javascript:;">智慧园</a>
       <a href="javascript:;">立民村</a>
       <a href="javascript:;">塘口村</a>
       <a href="javascript:;">勤劳村</a>
       <a href="javascript:;">芦胜村</a>
       <a href="javascript:;">知新村</a>
      </td>
     </tr>
     <tr>
      <th>价格：</th>
      <td>
       <a href="javascript:;" class="pro-cur">不限</a>
       <a href="javascript:;">500-1000</a>
       <a href="javascript:;">1001-2000</a>
       <a href="javascript:;">2001-3000</a>
       <a href="javascript:;">3001-4000</a>
       <input type="text" class="protext" /> - <input type="text" class="protext" /> 元 
       <input type="submit" class="proSub"  value="确定" />
      </td>
     </tr>
     <tr>
      <th>面积：</th>
      <td>
       <a href="javascript:;" class="pro-cur">不限</a>
       <a href="javascript:;">10平方</a>
       <a href="javascript:;">20-40平方</a>
       <a href="javascript:;">41-60平方</a>
       <a href="javascript:;">61-80平方</a>
       <a href="javascript:;">100平方以上</a>
      </td>
     </tr>
     <tr>
      <th>房型：</th>
      <td>
       <a href="javascript:;" class="pro-cur">不限</a>
       <a href="javascript:;">一室一厅</a>
       <a href="javascript:;">两室一厅</a>
       <a href="javascript:;">3室一厅</a>
       <a href="javascript:;">一室一厅一卫</a>
      </td>
     </tr>
    </table>
    <div class="paixu">
     <strong>排序：</strong>
     <a href="javascript:;" class="pai-cur">默认</a>
     <a href="javascript:;">价格 &or;</a>
     <a href="javascript:;">最新 &or;</a>
    </div>
   </form><!--pro-search/-->
  </div><!--width1190/-->
  <div class="width1190">
   <div class="pro-left">
	   {% for hit in all_hits%}
    <dl>
        <!--<dt><a href="{{ hit.detail }}"><img src="{% static 'images/fang2.jpg' %}" width="286" height="188" /></a></dt>-->
        <dt><a href="{{ hit.detail }}"><img src="{{ hit.picture }}" width="286" height="188" /></a></dt>
     <dd>
      <h3><a href="{{ hit.detail }}">{{ hit.title }}</a></h3>
      <div class="pro-wei">
          <img src="{% static 'images/weizhi.png' %}" width="12" height="16" /> <strong class="red">{{ hit.region }}</strong>
      </div>
      <div class="pro-fang">{{ hit.scale }}</div>
      <div class="pra-fa">来源：{{ hit.source }}  发布时间：{{ hit.pubdate }}</div>
     </dd>
     <div class="price"><strong>{{ hit.price }}</strong><span class="font12">元/月</span></div>
     <div class="clears"></div>
    </dl>
    {% endfor %}
   </div><!--pro-left/-->
   <div class="clears"></div>
  </div><!--width1190/-->
 </div><!--content/-->
 <div id="page" class="page_div"></div>
 <div class="copy">Copyright@ 2019 租房 版权所有 陕ICP备17001826号-1&nbsp;&nbsp;&nbsp;&nbsp;技术支持：<a target="_blank" href="http://www.xiyoulinuxer.cn/">hepan</a> </div>

</body>
<script>
    // pageMe.js 使用方法
    $("#page").paging({
        pageNum: {{ page }}, // 当前页面
        totalNum: {{ page_nums }}, // 总页码
        totalList: {{ total_nums }}, // 记录总数量
        callback: function (num) { //回调函数
			//alert({{ key_words }});
            location.href = '/house/house_search/?q={{key_words}}&p='+num;
        }
    });
</script>
</html>
